.bread-c ul {
    padding: 15px 0 !important;
}
.sec-heading {
    color: #fff;
    background: rgb(59,162,18);
    background: linear-gradient(97deg, rgba(59,162,18,1) 0%, rgba(15,107,81,1) 100%);
    padding: 0 5px;
    margin: 0 0 10px;
    height: 33px;
        font-size: 12px;
}
.sec-heading h2 {
    text-transform: uppercase;
    margin-top: -8px;
}
.btn-primary {
    background-color: #3ba212 !important;
    color: #fff !important;
    padding: 22px 25px !important;
}
.v-picker--time {
    width: 100%;
}
.v-time-picker-title__time .v-picker__title__btn, .v-time-picker-title__time span {
   
    height: 30px !important;
    font-size: 40px !important;
   
}
header .v-responsive__content {
    max-width: 190px;
}
.v-application .mt-5 {
    margin-top: 0px!important;
}
.v-navigation-drawer__content {
    margin-top: -7px;
}
header.v-sheet.theme--dark {
    background: #fff !important;
}

.v-application .mr-2 {
    color: #000;
}

header i.v-icon {
    color: #000 !important;
}
.v-application .grey.lighten-5.loginscreen {
    background: #3ba212;
    padding: 7px;
}

.haz-exp {
    background-color: #f3f3f3;
    padding: 10px 10px 1px 10px;
}

.haz-may {
    margin-bottom: 25px;
}

.haz-exp .row {
    align-items: center;
}

.haz-may h5 {
    font-size: 20px;
    color: #50534e;
    font-weight: 500;
}

.dn {
    display: flex;
}

.dn img {
    width: 50px;
    margin-right: 10px;
}

.dn h4 {
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
}

.dn span {
    font-size: 19px;
    color: #5b5454;
}

.haz-eco .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.haz-eco .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.haz-exp .row {
    align-items: center;
}

.kh-rw {
    border-right: 1px solid #ccc;
}

.kh-rw p {
    font-size: 16px;
    margin: 0 auto;
    color: #5b5454;
}

.kh-rw span {
    display: block;
    color: #000000;
    font-size: 16px;
}
.permission-div {
    border: 1px solid #ffffff;
    margin-bottom: -17px;
}

.permission-body {
    padding: 5px;
    border: 1px solid #33910e;
    /* margin: 0px -12px 7px -13px; */
    padding-bottom: 17px;
    height: 46px;
}

.permissions {
    /* margin-bottom: -29px; */
        margin-top: -5px !important;
        margin-left: 9px;
}

.permission-title {
    background-color: #33910e;
    color: white;
    padding: 8px 6px 8px 10px;
        height: 46px;
    margin-left: -13px;
    margin-right: -13px;
}
.seat {
    background-color: transparent;
    padding: 5px 30px 5px 40px;
    color: black;
    cursor: pointer;
    border: 1px solid;
    width: 111px;
    margin-bottom: 3px;
    margin-right: 3px;
}
.reserved {
    background-color: #931313;
    padding: 5px 30px 5px 40px;
    color: white;
    cursor: no-drop;
    width: 111px;
    border: 1px solid #931313;
    margin-bottom: 3px;
    margin-right: 3px;
}
.booked {
    background-color: #225806;
    padding: 5px 30px 5px 40px;
    color: white;
    cursor: pointer;
    width: 111px;
    border: 1px solid #225806;
    margin-bottom: 3px;
    margin-right: 3px;
}
.coach {
    background-color: rgba(99, 75, 45, 0);
    border: 1px solid rgb(99, 75, 45);
    width: 150px;
    color: rgb(99, 75, 45);
    padding: 7px 35px 10px 35px;
    margin: 1px 3px 1px 3px;
    height: 60px;
    cursor: pointer;
}

.selected {
    background-color: rgb(94, 66, 33);
    border: 1px solid rgb(99, 75, 45);
    width: 150px;
    color: rgb(255, 255, 255);
    padding: 7px 35px 10px 35px;
    margin: 1px 3px 1px 3px;
    height: 60px;
    cursor: pointer;
}