.bread-c ul {
    padding: 15px 0 !important;
}
.sec-heading {
    color: #fff;
    background: rgb(59,162,18);
    background: linear-gradient(97deg, rgba(59,162,18,1) 0%, rgba(15,107,81,1) 100%);
    padding: 0 5px;
    margin: 0 0 10px;
}
.sec-heading h2 {
    text-transform: uppercase;
}
.btn-primary {
    background-color: #3ba212 !important;
    color: #fff !important;
    padding: 22px 25px !important;
}
.v-picker--time {
    width: 100%;
}
.v-time-picker-title__time .v-picker__title__btn, .v-time-picker-title__time span {
   
    height: 30px !important;
    font-size: 40px !important;
   
}
header .v-responsive__content {
    max-width: 190px;
}
.v-application .mt-5 {
    margin-top: 0px!important;
}
.v-navigation-drawer__content {
    margin-top: -7px;
}
header.v-sheet.theme--dark {
    background: #fff !important;
}

.v-application .mr-2 {
    color: #000;
}

header i.v-icon {
    color: #000 !important;
}
.v-application .grey.lighten-5.loginscreen {
    background: #3ba212;
    padding: 7px;
}
.all-coach {
    display: inline-block;
    width: 100%;
}

.coach-9.selected {
    background-color: #bb8131;
    padding: 5px 10px;
    color: white;
    text-align: center;
}

.all-coach>div {
    float: left;
    width: 16.666%;
}

.coach-9 {
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #bb8131;
    width: 120px;
    text-align: center;
}

.coach-9 p {
    font-size: 22px;
    color: #bb8131;
    margin-bottom: 1px !important;
    cursor: pointer;
}








.haz-exp {
    background-color: #f3f3f3;
    padding: 10px 10px 1px 10px;
}

.haz-may {
    margin-bottom: 25px;
}

.haz-exp .row {
    align-items: center;
}

.haz-may h5 {
    font-size: 20px;
    color: #50534e;
    font-weight: 500;
}

.dn {
    display: flex;
}

.dn img {
    width: 50px;
    margin-right: 10px;
}

.dn h4 {
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
}

.dn span {
    font-size: 19px;
    color: #5b5454;
}

.haz-eco .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.haz-eco .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.haz-exp .row {
    align-items: center;
}

.kh-rw {
    border-right: 1px solid #ccc;
}

.kh-rw p {
    font-size: 16px;
    margin: 0 auto;
    color: #5b5454;
}

.kh-rw span {
    display: block;
    color: #000000;
    font-size: 16px;
}
.permission-div {
    border: 1px solid #ffffff;
    margin-bottom: -17px;
}

.permission-body {
    padding: 5px;
    border: 1px solid #33910e;
    /* margin: 0px -12px 7px -13px; */
    padding-bottom: 17px;
    height: 46px;
}

.permissions {
    /* margin-bottom: -29px; */
        margin-top: -5px !important;
        margin-left: 9px;
}

.permission-title {
    background-color: #33910e;
    color: white;
    padding: 8px 6px 8px 10px;
        height: 46px;
    margin-left: -13px;
    margin-right: -13px;
}
/* Train Seats */

@charset "utf-8";

/* CSS Document */
body,
html {
    height: 100%;
}

body {
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none !important;
    transition: all 0.5s;
}

.carousel-item img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

div#navbarCollapse {
    flex-direction: row-reverse;
}










/* Css Start */
.w-view {
    background-color: #636363;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
}

.mcol-left {
    width: 30%;
    margin-top: -12px;
}

.mcol-right {
    width: 70%;
}

.w-view p {
    margin: 0;
    color: #fff;
}

.mcol {
    padding: 0 15px;
}

.title-view p {
    margin: 0;
}

.w-view img {
    margin-right: 10px;
}

.a-box {
    background-color: #23c552;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.a-box p {
    margin: 0;
    line-height: 14px;
    font-size: 12px;
}

.a-box .i-side {
    min-width: 55px;
    height: 55px;
    text-align: center;
    line-height: 47px;
    background-color: #18a440;
}

.a-box .p-side {
    width: 100%;
    padding: 0 20px;
}

.pad-5 {
    padding: 0 5px !important;
}

.table-box p {
    margin: 0;
    font-size: 13px;
}

.table-box p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
}

.table-box {
    padding: 15px 0;
}

.b-box,
.b-box.d-flex.b-box.s-box {
    background-color: #f84f31 !important;
    cursor: not-allowed;
}

.b-box .i-side,
.b-box.d-flex.b-box.s-box {
    background-color: #f84f31 !important;
    width: 100%;
}

.b-box .p-side {
    display: none;
}

.c-view {
    background-color: #f3f3f3;
    padding: 30px;
}

.mcol-right .a-box .i-side {
    width: 50%;
    min-width: 50%;
}

.mcol-right .a-box .i-side span {
    font-size: 13px;
    text-transform: uppercase;
}

.mcol-right .b-box .i-side {
    width: 100%;
}

.s-box {
    background-color: #4285f4;
}

.s-box .i-side {
    background-color: #2460c4;
}

.m-row {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    /* margin-bottom: -55px !important;
    margin-top: 0px !important; */
}

/* Css End */




@media only screen and (min-device-width:520px) and (max-device-width:767px) and (orientation:portrait) {}

@media only screen and (min-device-width:120px) and (max-device-width:750px) and (orientation:landscape) {}

@media only screen and (min-device-width:751px) and (max-device-width:999px) and (orientation:portrait) {}

@media only screen and (min-device-width:751px) and (max-device-width:999px) and (orientation:landscape) {}

@media only screen and (min-device-width:1000px) and (max-device-width:1030px) and (orientation:portrait) {}

@media only screen and (min-device-width:1000px) and (max-device-width:1030px) and (orientation:landscape) {}

@media only screen and (min-width: 1366px) and (max-width: 1920px) {}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 520px) and (max-width: 767px) {}

@media only screen and (min-width: 300px) and (max-width: 519px) {}